

body {
	background-color: rgb(6, 17, 33);
	animation: run 30s ease infinite;
	background-size: 400% 400%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* #nav {
	background-image: url("../images/homepageWithLogin/home.jpg");
	animation: run 30s ease infinite;
	background-size: 400% 0%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
} */

@keyframes run {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.img {
	width: 40px;
}

h3,
td a,
ol li a,
small,
.words,
li {
	color: white;
}

table {
	box-shadow: 3px 5px;

}

#cryptolinks {
	border: solid 1px white;
	width: 300px;
}

#reset{
	margin-top:30px
}